h1.Titre{
    text-align: center;
}

header{
    text-align: center;
    background-color: rgb(32, 69, 117);
    color :white;
}

p.date{
    text-indent: 40%;
    text-align: left;  
}

h1.soutitre{
    text-indent: 25%;  
}




time{
    font-weight: bold;   
}

p{
    color:rgb(5, 66, 122);
}


p1{
    color:rgb(130, 177, 209);
}

footer{
    background-color:rgb(32, 69, 117) ;
    text-align: end;
}

a{
    color:rgb(130, 177, 209);
}